.new-admin-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente oscuro */
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-admin-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

/* Estilos para los campos de entrada */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #bbb;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #f0a500;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

/* Estilos para los botones */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.register-button {
    background-color: #4CAF50;
    color: white;
}

.register-button:hover {
    background-color: #45a049;
}

.back-button {
    background-color: #2196F3;
    color: white;
    margin-top: 8px;
}

.back-button:hover {
    background-color: #1976d2;
}

/* Estilos para mensajes de éxito o error */
.mensaje-exito {
    color: #4CAF50;
    margin-top: 10px;
}

.mensaje-error {
    color: #f44336;
    margin-top: 10px;
}
